:root {
    --bkgrndClr: rgb(130, 205, 255);
    --topBarClr: rgb(49, 173, 255);
    --textClr: white;
    --hoverTextClr: rgb(21, 161, 255);
    /* #f3b87d */
}

body {
    background-color: var(--bkgrndClr);
    text-align: center;
    color: var(--textClr);
}

/* navigation */
.nav {
    background-color: var(--topBarClr);
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
}

.navEle {
    text-decoration: none;
    color: var(--textClr);
    margin: 15px;
    padding: 15px;
}

.navEle:hover {
    color: var(--textClr);
    background-color: var(--hoverTextClr);
    border-radius: 5px;
}